# Project Configuration
PROJECT_ID=qwiklabs-gcp-03-3d2bbdc0a83d
REGION=europe-west1
GOOGLE_CLOUD_LOCATION=global

# Model Settings
MODEL=gemini-3.7-flash
GOOGLE_GENAI_USE_ENTERPRISE=true

# Service Account Identity
SERVICE_ACCOUNT=821150130368-compute@developer.gserviceaccount.com

# MCP Server Endpoint
MCP_SERVER_URL=https://zoo-mcp-server-821150130368.europe-west1.run.app/mcp/
